/* your styles go here */
.icon-img{
  width: 20px;
  height: 20px;
}

.icon-img-bigger{
  width: 30px;
  height: 30px;
}

.icon-img-express{
  width: 20px;
  height: 14px;
}

.icon-size{
  font-size: 1.5rem;
}

.resume-btn{
  background-color: rgba(255, 255, 255, 0.678);
  font-family: 'Halant', serif;
}
