*{
  box-sizing: border-box;
}

section, footer {
  position: relative;
  padding: 6rem 0;
}

.navbar-brand{
  font-family: 'Dancing Script', cursive;
}

.theme-color{
  background-color: rgb(118, 101, 126);
}

.hero {
  background: url(../img/hawaii.JPG);
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scroll-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 1.25rem);
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: 2;
}

.scroll-btn:hover, .scroll-btn:focus {
  color: #fff;
  text-decoration: none;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

.bg-gray {
  background: #eee !important;
}

.social-link {
  width: 45px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  background: #9055A2;
  font-size: 1.5rem;
}

.social-link:hover, .social-link:focus {
  color: #fff;
  text-decoration: none;
}

.social-link-github {
  background: #484c57;
}

.social-link-resume {
  background: #97c7b4;
}

.social-link-linkedin {
  background: #1a63d1;
}

.lined::after {
  content: '';
  display: block;
  width: 6.25rem;
  height: 1px;
  margin: 1.25rem auto;
  background: #9055A2;
}

.lined-compact::after {
  margin-top: 0.5rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 1px #6c757d;
  margin: 0 auto;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.z-index-1 {
  z-index: 10;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  font-size: 1.2rem;
}

.btn {
  color: #ffffff;
  border-color: rgb(230, 226, 214);
  background-color:  rgb(118, 101, 126);
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}

.contact-boxes {
  color:  rgb(118, 101, 126);
  text-decoration: none;
}

.contact-boxes:hover, .contact-boxes:focus{
  color: #341c3b;
  text-decoration: none;
}

.btn-primary:hover {
  color: #211525;
  border-color: #c7b2ce;
  background-color: #c7b2ce;
  text-decoration: none;
  font-family: 'Halant', serif;
}

h1,
h2,
h4
{
  font-family: 'Halant', serif;
  font-weight: 700;
  line-height: 1.2;
}

.lead {
  font-size: 1.4rem;
  font-weight: 500;
}

.contact-container{
  max-width: 600px;
}

.icon-size{
  transition: ease-in;
  transition-duration: 5ms;
}

.icon-size:hover, .icon-size:focus{
  font-size: 2rem;
}
