/* your styles go here */
.icon-img{
  width: 20px;
  height: 20px;
}

.icon-img-bigger{
  width: 30px;
  height: 30px;
}

.color{
  background-color: rgb(118, 101, 126);
}

.site-img{
  max-width: 400px;
}
