/* your styles go here */
.icon-img{
  width: 20px;
  height: 20px;
}

.icon-img-bigger{
  width: 30px;
  height: 30px;
}

.color{
  background-color: rgb(118, 101, 126);
}

.site-img{
  max-width: 400px;
}

.icon-img-express{
  width: 20px;
  height: 14px;
}


.contact-container{
  max-width: 600px;
}

.icon-size{
  font-size: 1.5rem;
}
