section {
  position: relative;
  padding: 6rem 0;
}

.hero {
  background: url(../img/hawaii.JPG);
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scroll-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 1.25rem);
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: 2;
}

.scroll-btn:hover, .scroll-btn:focus {
  color: #fff;
  text-decoration: none;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center center !important;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

.bg-gray {
  background: #eee !important;
}

.social-link {
  width: 45px;
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  background: #9055A2;
  font-size: 1.5rem;
}

.social-link:hover, .social-link:focus {
  color: #fff;
  text-decoration: none;
}

.social-link-github {
  background: #484c57;
}

.social-link-linkedin {
  background: #1a63d1;
}

.lined::after {
  content: '';
  display: block;
  width: 6.25rem;
  height: 1px;
  margin: 1.25rem auto;
  background: #9055A2;
}

.lined-compact::after {
  margin-top: 0.5rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 1px #6c757d;
  margin: 0 auto;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.z-index-1 {
  z-index: 10;
}

/*
 * BUTTONS
 */
.btn, .contact-link {
  font-family: "Montserrat", sans-serif;
  border-color: #724381;
}

.btn-link, .contact-link {
  color: #ab8ab4;
  border-color: #724381;
}

.btn-link:hover {
  color: #633b70;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-primary {
  color: #fff;
  background-color: #ab8ab4;

}

.btn-primary:hover {
  color: #fff;
  background-color: #360d42;
  border-color: #724381;
}

/*
 * 3. TYPE
 */
body {
  font-family: "cardo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

a {
  color: #9055A2;
  text-decoration: none;
}

a:hover, a:focus {
  color: #633b70;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}


.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  border-left: 5px solid #9055A2;
}

.blockquote-footer {
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014 \00A0";
}

.text-primary {
  color: #9055A2 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #724381 !important;
}
